@media (min-width: 1024px) {
  .container {
    width: 960px;
  }

  .offers-wrapper {
    width: 720px;
  }

  .about h1 {
    text-align: left;
  }

  .offers-wrapper-box {
    width: 30%;
    padding-bottom: 30%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

  .offers-wrapper-box:hover {
    width: 33%;
  }

  .offers-wrapper-box:nth-of-type(3n) {
    margin-right: 0;
  }
}