h1 {
  font-size: 36px;
  font-weight: bold;
}

section {
  padding: 50px 0;
}

section h1 {
  margin-bottom: 50px;
}

.container {
  width: 94%;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 40px 0;
}

nav { 
  height: 50px;
  background-color: #4E4E4E;
}

nav a {
  font-size: 18px;
  text-decoration: none;
}

.nav-logo {
  font-weight: bold;
}

.nav-links {
  display: none;
}

.landing-page {
  height: calc(100vh - 50px);
  padding: 0;
  background-image: url(https://picsum.photos/1600/1050);
  background-position: center;
  background-size: cover;
  font-size: 18px;
}

.landing-page-shadow {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.landing-page-shadow .container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 425px) {
  .landing-page-text {
    width: 77%;
  }
}

.landing-page h1 {
  margin: 0;
}

.about {
  background-color: #F1F1F1;
}

.about h1 {
  color: #152D41;
  text-align: center;
}

.about-employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.about-employee-pic {
  width: 200px;
  height: 200px;
  margin-right: 5%;
  flex-shrink: 0;
  border-radius: 50%;
  background-image: url(https://picsum.photos/200/300);
  background-size: cover;
  background-position: center;
}

.offers {
  background-color: #405D78;
}

.offers h1 {
  text-align: center;
}

.offers h2 {
  font-size: 24px;
  text-align: center;
}

.offers-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.offers-wrapper-box {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 5%;
  background-color: #F1F1F1;
  transition-duration: .5s;
}

.offers-wrapper-box-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.offers-wrapper-box-dot {
  position: absolute;
  top: -11px;
  left: -11px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #E07A64;
}

footer {
  background-color: #4E4E4E;
  color: white;
}

.footer-credits {
  margin-bottom: 20px;
}