@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  .offers-wrapper {
    width: 90%;
  }

  .nav-links {
    display: block;
  }

  .nav-links a {
    color: #F1F1F1;
  }

  .landing-page-text {
    width: 53%;
  }

  .about-employee {
    flex-direction: row;
    text-align: left;
  }

  .about-employee:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
  }

  .offers h1 {
    text-align: left;
  }

  .offers-wrapper-box {
    width: 47.5%;
    padding-bottom: 47.5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

  .offers-wrapper-box:nth-of-type(2n) {
    margin-right: 0;
  }
}
